.resource-show {
  //--el-descriptions-item-bordered-label-background: var(--el-fill-color-light);
  //--el-descriptions-table-border: 1px solid var(--el-border-color-light);

  .el-descriptions__content.el-descriptions__cell.is-bordered-content {
    word-wrap: break-word;
    word-break: break-all;
  }
}

.footer {
  box-shadow: var(--el-box-shadow-lighter);
}