.resource-form {
  .el-input {
    width: 100%;
  }

  .el-form-item__label {
    color: #333333;
    font-weight: 500;

    &:before {
      color: #FF0000 !important;
    }
  }

  .resource-tips {
    color: #F79D13;
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: 400;
    width: 100%;
  }

  .resource-form-image {
    .el-upload {
      border: 1px dashed var(--el-border-color);
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: var(--el-transition-duration-fast);
    }

    .el-upload:hover {
      border-color: var(--el-color-primary);
    }

    .uploader-image {
      width: 80px;
      height: 80px;
    }

    .uploader-icon {
      color: var(--el-border-color);
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 30px;
      }
    }
  }

  .resource-form-file {
    .el-upload {
      border: 1px dashed var(--el-border-color);
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: var(--el-transition-duration-fast);
      padding: 5px 20px;
    }

    .el-upload:hover {
      border-color: var(--el-color-primary);
    }

    .uploader-icon {
      color: var(--el-border-color);
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 30px;
      }
    }
  }

  .resource-form-drag-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .resource-form-drag-images-item {
      list-style: none;
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 6px;
      margin-right: 15px;
      margin-bottom: 15px;
      position: relative;

      .resource-form-drag-images-item-mask {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 25px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        color: #000;

        .icon-drag {
          cursor: move;
        }

        .icon-del {
          cursor: pointer;
          color: var(--el-color-danger);
          background-color: var(--el-color-danger-light-9);
        }
      }

      .line {
        height: 100%;
        border-left: 0.25px solid #000;
      }

      .el-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}


.resource-form-tabs {
  .is_error {
    color: var(--el-color-danger);
  }
}


.resource-drag-associations {
  border-radius: 5px;
  overflow: hidden;
  border: 0.5px #D0D0D0 solid;
  min-height: 100px;

  .resource-drag-associations-item {
    border: 0.5px #D0D0D0 solid;
    padding: 10px;
  }
}
