.resource-form-image {
  .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
  }

  .el-upload:hover {
    border-color: var(--el-color-primary);
  }

  .uploader-image {
    width: 80px;
    height: 80px;
  }

  //.delete-icon {
  //  width: 40px;
  //  height: 40px;
  //}

  .uploader-icon {
    font-size: 28px;
    color: var(--el-border-color);
    width: 80px;
    height: 80px;
    text-align: center;
  }
}

.resource-form-tabs > .el-tabs__content {

}