.resource-dialog {
  border-radius: 15px;

  .el-dialog__header {
    padding: 18px 28px 10px 28px;
    margin-right: 0;
    border-bottom: 1px solid #D0D0D0;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .el-dialog__body {
    padding: 20px;
  }

  .el-dialog__footer {
    border-top: 1px solid #D0D0D0;
  }

  .el-dialog-custom-title {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    z-index: 1;
  }

  .el-dialog-custom-title-bg {
    background-color: #ECECFD;
    position: absolute;
    height: 12px;
    width: 100%;
    bottom: 0px;
    z-index: -1;
    left: -4px;
  }

  .icon-group {
    .el-icon {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .section-title {
    font-size: 15px;
    font-weight: 600;
    color: #000;
  }

  footer {
    padding: 15px 28px;
  }
}