.resource-show {
  margin: 15px 0;
  --el-descriptions-item-bordered-label-background: var(--el-fill-color-blank);

  .el-descriptions__label.el-descriptions__cell.is-bordered-label {
    width: 25%;
  }
}